
/* overall formatting */
body{
    text-transform: uppercase;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.title{
    font-weight: bold;
}
.label{
    font-style: italic;
    padding-left: 15px;
    display: inline-block;
}
.osc{
    display: block;
    margin: 20px;
    padding: 10px;
}
.section{
    display: inline-block;
    padding: 20px;
    vertical-align: top;

}
.mini{
    display: inline-block;
    padding: 0px;
    vertical-align: middle;
    text-align: center;
}

h2{
    margin: 0%;
    text-align: center;
}
h6{
    margin:0%;
}

/* INPUTS */

/* slider formatting */
div.freqSlider{
    padding-left: 20px;
    width: 200px;
    display: inline-block;
}
input[type="range"] { width: 200px; }

option { padding: 0; }

datalist{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
/* need different spacing to account for if negative sign or not */
datalist.first{
    justify-content: space-between;
    width: 95px;
}
datalist.second{
    justify-content: space-between;
    width: 100px;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }

  .slider.pink{
    background-color: rgb(238, 238, 238);
  }

  input:checked + .slider.pink {
    background-color: hotpink;
  }
  
  input:focus + .slider.pink {
    box-shadow: 0 0 1px hotpink;
  }


  .slider.orange {
    background-color: rgba(249, 143, 73, 0.3);
  }
  input:checked + .slider.orange {
    background-color: rgb(249, 143, 73);
  }
  
  input:focus + .slider.orange {
    box-shadow: 0 0 1px rgb(249, 143, 73);
  }
  
   .slider.blue {
    background-color: rgb(60, 197, 243, 0.3);
  }
  input:checked + .slider.blue {
    background-color: rgb(60, 197, 243);
  }
  input:focus + .slider.blue {
    box-shadow: 0 0 1px rgb(60, 197, 243);
  }
  

